body {
    background: rgb(90, 88, 88);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weatherContainer {
    background: rgb(108,108,108);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1, label, p {
    color: #fff;
    margin: 8px 0;
}

#localization {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
}

#searchButton {
    background: #8b48d7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

#searchButton:hover {
    background: #c198f0;
}

#temperatureInfo p {
    font-size: 30px;
    margin-top: -30px;
}

#weatherInfo {
    font-size: 40px;
    font-style: bold;
}

#weatherIcon {
    width: 250px;
    height: 250px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#dailyWeather {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.daily-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

#weatherContainer {
    max-width: 470px;
}

@media only screen and (max-width: 768px) {
    #weatherContainer {
        max-width: 320px;
    }

    .daily-item{
        margin-right: 2px;
    }
}